<template>
    <div>
      <b-form-input v-model="text" placeholder="[null, null, 5, 9, 15, 23, null]"></b-form-input>
      <br/>
      <b-button variant="outline-primary" @click="submit">Find Missing</b-button>
      <div class="mt-2">Result: {{ res }}</div>
    </div>
</template>
<script>
  import axios from 'axios';
  export default {
    data() {
      return {
        text: '',
        res: '',
        req: {}
      }
    },
    methods: {
      submit() {
        try {
          var jsonStr = '{ "inputSlice": ' + this.text + '}'
          var obj = JSON.parse(jsonStr);
          var url = process.env.VUE_APP_BACKEND_URL + '/doscg/findxyz'
          axios.post(url, obj)
            .then(response => {
              this.res = response.data
            })
            .catch(e => {
              this.errors.push(e)
          })
        } catch(err) {
          this.res = "Error, please enter correct input format"
        }
      }
    }
  }
</script>