<template>
    <div>
      <div class="mt-2">A = 21</div>
      <div class="mt-2">A + B = 23</div>
      <div class="mt-2">A + C = -21</div>
      <br/>
      <div class="mt-2">Result: {{ res }}</div>
    </div>
</template>
<script>
  import axios from 'axios';
  export default {
    data() {
      return {
        res: '',
      }
    },
    created(){
        var url = process.env.VUE_APP_BACKEND_URL + '/doscg/findbc'
        axios.get(url)
            .then(response => {
              this.res = response.data
            })
            .catch(e => {
              this.errors.push(e)
          })
    }
  }
</script>