<template>

  <div>
    <div class="row">
      <div class="col-md-4">
        <fg-input type="text"
                  label="Origin"
                  placeholder="Origin"
                  v-model="params.origin">
        </fg-input>
      </div>
      <div class="col-md-4">
        <fg-input type="text"
                  label="Destination"
                  placeholder="Destination"
                  v-model="params.destination">
        </fg-input>
      </div>
      <div class="col-md-4" style="padding-top:27px">
        <b-button class="mybutton" variant="outline-primary" @click="getroute">Submit</b-button>
      </div>
    </div>
    <iframe :src="mapUrl"></iframe>
  </div>
</template>
<script>
  import axios from 'axios';
  export default {
    
    data() {
      return {
        mapUrl: '',
        params: {
          origin: "SCG Cement Company Limited., 10800",
          destination: "CentralWorld, 999/9 Rama I Rd, Pathum Wan, Pathum Wan District, Bangkok 10330"
        }
      }
    },
    created() {
      this.getroute()
    },
    methods: {
      getroute() {
        var url = process.env.VUE_APP_BACKEND_URL + '/doscg/findroute'
        axios.post(url, this.params)
              .then(response => {
                console.log(response.data)
                this.mapUrl = response.data.url
              })
              .catch(e => {
                this.errors.push(e)
            })
      }
    }
  };
</script>
<style>
iframe {
  display: block;       /* iframes are inline by default */
  background: #000;
  border: none;         /* Reset default border */
  width:100%;
  height: 80vh;        /* Viewport-relative units */
}

</style>
